:import('./constants.css') {
  primary-bg-color: primary-bg-color;
}

:root {
  --primary-bg-color: primary-bg-color;
}
.closeButton {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  color: #343e47;
  background: var(--primary-bg-color);
  border-radius: 50%;
  text-decoration: none;
  border: none;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton::before {
  vertical-align: baseline;
}

.closeButton:hover {
  transform: scale(1.15);
}
