:import('./constants.css') {
  composer-section-zindex: composer-section-zindex;
  composer-notice-feedback-bg-color: composer-notice-feedback-bg-color;
  composer-notice-feedback-border-color: composer-notice-feedback-border-color;
}

:root {
  --composer-section-zindex: composer-section-zindex;
  --composer-notice-feedback-bg-color: composer-notice-feedback-bg-color;
  --composer-notice-feedback-border-color: composer-notice-feedback-border-color;
}

.composerSection {
  padding: 10px 0 20px 0;
  /**
   * Create stacking context as a safety net for negative-zindex
   * positioned elements in the composers, so that they don't
   * disappear behind the App's opaque background.
   */
  position: relative;
  z-index: var(--composer-section-zindex);
}

.emptyState {
  padding: 8px;
  background-color: var(--composer-notice-feedback-bg-color);
  border: solid 1px var(--composer-notice-feedback-border-color);
  border-radius: 3px;
  text-align: center;
  line-height: 22px;
}
