.dateTimePicker {
  padding: 10px 16px;
  text-align: center;
}

.timePicker,
.slotPicker {
  margin-top: 16px;
}

.pickerSwitchButton {
  composes: tertiaryButton from './Button.css';

  display: block;
  margin: 8px auto 0;
}

.submitButton {
  composes: button from './Button.css';

  margin-top: 16px;
}

.timezone {
  margin-top: 8px;
  font-size: 12px;
}
