.modalStyles {
  padding: 20px;
  background: white;
  width: 500px;
}

.title {
  margin-top: 0;
}

.sendButton,
.sendAndRemember {
  composes: button from './Button.css';
}

.sendAndRemember {
  margin-right: 20px;
  margin-left: auto;
}

.cancelButton {
  composes: secondaryButton from './Button.css';
}

.buttonsContainer {
  display: flex;
}
