:import('./constants.css') {
  geyser: geyser;
}
:root {
  --geyser: geyser;
}
.container {
  width: 100%;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.textInput {
  border: 1px solid var(--geyser);
  height: 30px;
  border-radius: 3px;
  padding-left: 8px;
  flex-grow: 1;
  min-width: 281px
}

.label {
  display: inline-block;
}

.button {
  composes: button from './Button.css';
  margin-left: 20px;
}
