:import('./constants.css') {
  outerspace: outerspace;
  primary-font-color: primary-font-color;
}

:root {
  --outerspace: outerspace;
  --primary-font-color: primary-font-color;
}

.modalStyles {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: initial;
  justify-content: center;
  margin: 0;
  background: none;
  box-shadow: none;
}

.closeButton {
  z-index: 1;
  order: 2;
  position: relative!important;
  right: 12px;
}

.mediaContainer {
  order: 1;
  position: relative;
  text-align: center;
  border-radius: 3px;
  text-align: center;
}

.mediaContainer::after {
  background: black;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.media {
  max-width: 90vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.fileSize {
  position: absolute;
  left: 8px;
  bottom: 40px;
  background: var(--outerspace);
  opacity: 0.8;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px;
  font-weight: bold;
}
