:import('./constants.css') {
  media-attachment-thumbnail-close-button-zindex: media-attachment-thumbnail-close-button-zindex;
  close-button-background-zindex: close-button-background-zindex;
  outerspace: outerspace;
}

:root {
  --media-attachment-thumbnail-close-button-zindex: media-attachment-thumbnail-close-button-zindex;
  --close-button-background-zindex: close-button-background-zindex;
  --outerspace: outerspace;

  --thumbnail-width: 80px;
  --thumbnail-height: var(--thumbnail-width);
  --img-border-radius: 3px;
}

.thumbnail {
  position: relative;
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: var(--img-border-radius);
  overflow: hidden;
  border: none;
  background-size: cover;
  background-color: white;
}

.imageContainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--img-border-radius);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: 5px solid transparent;
  /* fixes safari rendering issue */
  padding-left: 1px;
  border-radius: 0;
  z-index: var(--media-attachment-thumbnail-close-button-zindex);
  background: transparent;
}

.closeButton::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: #fff;
  border-radius: 50%;
  z-index: var(--close-button-background-zindex);
}

.videoThumbnail {
  color: white;
  position: absolute;
  left: 4px;
  bottom: 4px;
  padding: 0 4px;
  background: var(--outerspace);
  border-radius: 3px;
}

.videoThumbnail:before {
  position: relative;
  top: -1px;
}
