:import('./constants.css') {
  error-color-primary-hue: error-color-primary-hue;
  locked-composer-overlay-message-zindex: locked-composer-overlay-message-zindex;
  success-notification-bg-color: success-notification-bg-color;
  blue-color-primary-hue: blue-color-primary-hue;
}

:root {
  --error-color-primary-hue: error-color-primary-hue;
  --locked-composer-overlay-message-zindex: locked-composer-overlay-message-zindex;
  --success-notification-bg-color: success-notification-bg-color;
  --blue-color-primary-hue: blue-color-primary-hue;
}

.notification {
  display: inline-block;
  border-radius: 3px;
  padding: 6px;
  color: #fff;
  font-weight: 400;
}

.notification a {
  color: #fff;
  position: relative;
  z-index: var(--locked-composer-overlay-message-zindex);
}

.notification pre {
  margin: 0;
  padding: 0;
  white-space: normal;
}

.notificationWithCloseButton {
  composes: notification;

  position: relative;
  padding-right: 26px;
}

.successNotification {
  background-color: var(--success-notification-bg-color);
}

.errorNotification {
  background-color: var(--error-color-primary-hue);
}

.infoNotification {
  background-color: var(--blue-color-primary-hue);
}

.closeButton {
  position: absolute;
  right: 6px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #fff;
  background: transparent;
  opacity: .75;
}

.closeButton::after {
  vertical-align: top;
}
