.tooltipList {
  margin: 0 0 -7px 0;
  padding-left: 10px;
}

.tooltipListItem {
  margin-bottom: 7px;
  line-height: 19px;
}

.tooltipSingleItemList {
  composes: tooltipList;

  list-style-type: none;
  padding-left: 0;
}
