.mention {
  composes: mention from './AutocompleteComposableStyles.css';
}

.mentionSuggestions {
  composes: mentionSuggestions from './AutocompleteComposableStyles.css';
}

.mentionSuggestionsEntry {
  composes: mentionSuggestionsEntry from './AutocompleteComposableStyles.css';

  height: 32px;
  padding: 4px 5px 4px 35px;
  line-height: 12px;
}

.mentionSuggestionsEntryFocused {
  composes: mentionSuggestionsEntry;
  composes: mentionSuggestionsEntryFocused from './AutocompleteComposableStyles.css';
}

.mentionSuggestionsEntryText {
  composes: mentionSuggestionsEntryText from './AutocompleteComposableStyles.css';
}

.mentionSuggestionsEntryName {
  composes: mentionSuggestionsEntryName from './AutocompleteComposableStyles.css';
}

.mentionSuggestionsEntryAvatar {
  composes: mentionSuggestionsEntryAvatar from './AutocompleteComposableStyles.css';

  width: 24px;
  height: 24px;
}

.mentionSuggestionsEntryCategory {
  display: block;
  font-size: 10px;
}
